@charset "UTF-8";
/* ************** VARIABLES ************** */
/* ************** POLICES **************** */
@font-face {
  font-family: "gentium";
  src: url("assets/fonts/GentiumBookBasicRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "yeseva";
  src: url("assets/fonts/YesevaOne-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  src: url("assets/fonts/Lato-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "opensans";
  src: url("assets/fonts/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: 'yeseva one';
}

a {
  text-decoration: none;
  color: #f4f4f5;
}

/* ********************* HEADER ************************ */
body {
  /* ******************** MAIN ********************* */
  /* ******************** FOOTER ********************* */
}

body header {
  height: 750px;
  width: 100%;
  background: url("../images/fond_promo.jpg") no-repeat fixed;
  background-size: cover;
  /* *** SECTION PROMO *** */
}

body header #navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0)), to(black));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), black);
  /* dégradé noir transparent de la navbar */
}

body header #navbar nav {
  width: 100%;
  height: 100px;
}

body header #navbar nav .col-lg-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body header #navbar nav .col-lg-2 a #logo {
  width: 156px;
  height: 92px;
}

body header #navbar nav .col-lg-2 a #logo:hover {
  background-image: url("/assets/images/logo_jaune.png");
}

body header #navbar nav .menu {
  font-family: "gentium book basic";
  font-size: 1.4em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-item-align: center;
      align-self: center;
  padding-left: 19%;
  padding-bottom: 1%;
  color: #f4f4f5;
}

body header #navbar nav .icons {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 3% 1% 0;
  margin-left: -2%;
  line-height: 2;
}

body header #navbar nav .icons i:hover {
  color: #dab33e;
}

body header #promo {
  height: 750px;
}

body header #promo .row #title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header #promo .row h1 {
  color: #f4f4f5;
  text-shadow: 1px 1px #000000;
  margin-top: 10%;
  font-size: 82px;
  width: 70%;
  text-align: center;
  font-weight: normal;
}

body header #promo .row img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  margin-top: 11%;
}

body header #promo .row #button {
  width: 490px;
  opacity: 0.8;
  margin-bottom: 13%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header #promo .row #button .left {
  height: 55px;
  width: 230px;
  font-family: 'lato';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 12, 0.493);
  border: none;
  color: #f4f4f5;
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body header #promo .row #button .right {
  height: 55px;
  width: 230px;
  font-family: 'lato';
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: #f4f4f5;
  font-size: 1.1em;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body header #promo .row #button :hover {
  border: 0.1px white solid;
  background-color: rgba(250, 249, 249, 0.349);
}

body main {
  /* *** SECTION ABOUT *** */
  /* ***SECTION INGREDIENTS*** */
  /* ***SECTION MENU*** */
  /* ***SECTION REVIEWS*** */
  /* ***SECTION RESERVATIONS*** */
}

body main #about {
  height: 710px;
  background: url("../images/fond_about.jpg") no-repeat fixed;
  background-size: cover;
}

body main #about .container .row {
  padding: 3% 5% 5% 5%;
}

body main #about .container .row .col-md-6 {
  height: auto;
  padding-top: 4%;
}

body main #about .container .row .col-md-6 h2 {
  height: auto;
  text-align: center;
  color: #dab33e;
  font-size: 2.5em;
}

body main #about .container .row .col-md-6 .divider {
  width: 50%;
  display: block;
  height: auto;
  margin: 5% auto 0 auto;
}

body main #about .container .row .col-md-6 .text {
  font-size: 1.1em;
  font-family: "Lato";
  color: #4c4c4c;
  text-align: center;
  padding: 9% 11% 9% 11%;
}

body main #about .container .row .col-md-6 .cook {
  width: 192px;
  height: 195px;
  display: block;
  margin: 30% auto 0px 41%;
}

body main #about .container .row .col-md-6 {
  height: auto;
}

body main #about .container .row .col-md-6 img {
  width: 621px;
  height: 625px;
  margin: -5% 0% 0% 2%;
}

body main #ingredients {
  min-height: 750px;
  background: url("../images/fond_ingredients.jpg") no-repeat fixed;
  background-size: cover;
}

body main #ingredients .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body main #ingredients .container .row .col-md-6 {
  width: 570px;
  height: 557px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 100px 0 100px 0;
  padding: 50px;
  text-align: center;
  background-image: url("../images/fond_noir_translucide.png");
}

body main #ingredients .container .row .col-md-6 h3 {
  color: #f4f4f5;
  font-size: 2.3em;
}

body main #ingredients .container .row .col-md-6 .divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 247px;
  height: 24px;
  margin-top: 62px;
  margin-bottom: 20px;
}

body main #ingredients .container .row .col-md-6 p {
  color: #f4f4f5;
  font-size: 1em;
  display: block;
  margin: 5% 0% 39% 0%;
}

body main #ingredients .container .row .col-md-6 .epice {
  height: 90px;
  width: 90px;
  margin: 10px 10px;
  display: inline-block;
  border-radius: 50%;
  border-style: solid;
}

body main #ingredients .container .row .col-md-6 :hover {
  border-color: rgba(255, 255, 255, 0.6);
}

body main #menu {
  min-height: 990px;
  background: url("../images/fond_menu.jpg") no-repeat fixed;
  background-size: cover;
}

body main #reviews {
  min-height: 750px;
  background: url("../images/fond_reviews.jpg") no-repeat fixed;
  background-size: cover;
}

body main #reviews .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

body main #reviews .container .row .col-lg-6 {
  width: 770px;
  height: 557px;
  background-image: url("../images/fond_noir_translucide_reviews.png");
  margin: 100px 0 100px 0;
  padding: 50px;
  text-align: center;
}

body main #reviews .container .row .col-lg-6 h3 {
  color: #f4f4f5;
  font-size: 2.2em;
  margin-top: 48px;
}

body main #reviews .container .row .col-lg-6 .divider {
  width: 247px;
  height: 24px;
  display: block;
  margin-top: 61px;
  margin-left: auto;
  margin-right: auto;
}

body main #reviews .container .row .col-lg-6 i {
  display: block;
  margin: 10% 96% 0% -10%;
  color: #9fa29e;
}

body main #reviews .container .row .col-lg-6 .text {
  color: #dde0df;
  display: block;
  margin-top: 7px;
}

body main #reviews .container .row .col-lg-6 .fin {
  color: #dde0df;
  display: block;
  font-size: 0.8em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 196px;
}

body main #reservations {
  min-height: 710px;
  background: url("../images/fond_reservations.jpg") no-repeat fixed;
  background-size: cover;
}

body main #reservations .container .row #riz {
  width: 270px;
  height: 507px;
  display: block;
  margin: 100px 0 100px 0;
  padding-right: 3%;
}

body main #reservations .container .row #muesli {
  width: 270px;
  height: 507px;
  display: block;
  margin: 100px 0 100px 0;
  padding-left: 3%;
}

body main #reservations .container .row #text_reservations {
  display: block;
  margin: 100px 0 100px 0;
}

body main #reservations .container .row #text_reservations .row #text_content {
  text-align: center;
}

body main #reservations .container .row #text_reservations .row #text_content h3 {
  color: #dab33e;
}

body main #reservations .container .row #text_reservations .row #text_content .divider {
  width: 247px;
  height: 24px;
}

body main #reservations .container .row #text_reservations .row #text_content .part1 {
  font-family: 'lato';
  color: #4c4c4c;
}

body main #reservations .container .row #text_reservations .row #text_content .part2 {
  font-family: 'lato';
  color: #4c4c4c;
}

body footer {
  width: 100%;
  height: 310px;
  background-color: #191919;
}
/*# sourceMappingURL=style.css.map */